.card {
  padding: 1rem;
  min-width: 50%; 
  display: flex;
  justify-content: center;
}

.input_wrapper, .btns_wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    background: rgb(112, 153, 243);
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    min-width: 80px;
    cursor: pointer;
    margin-left: 10px;

    &:first-child {
      margin-left: 0px;
    }
  }

  .btn_delete {
    background: rgb(243, 112, 127);
  }
}

.card__info {
  background-color: #999999;
  color: white;
  text-decoration: none;
  padding: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%; 

  img {
    max-width: 100%;
    height: auto;
  }

  input {
    width: 100%;
    margin: 16px 0;
  }
}

@media (max-width: 768px) {
  .input_wrapper, .btns_wrapper {
    flex-direction: column;
    align-items: center;

    button {
      width: 100%;
      margin-bottom: 5px;
      margin-left: 0;
    }
  }
}